@model List<Blog>

@{
    ViewData["Title"] = "BlogList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Bloglar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Blog Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Bloglar ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Alan</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.BlogID</td>
                                        <td>@item.Title</td>
                                        <td>@item.Description</td>
                                        <td>@item.Date</td>
                                        <td>@item.JobArea</td>
                                        <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Blog/UpdateBlog/@item.BlogID" class="btn btn-success">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Blog/CreateBlog/" class="btn btn-primary">Yeni Blog Girişi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

